<div class="submission">
  <div class="rank">
    <span>
      <% if local_assigns[:rank] %>
       <%= local_assigns[:rank] %>.
      <% end %>
    </span>
    <a href="/upvote">
      <div class="votearrow"></div>
    </a>
  </div>
  <div class="content">
    <span class="title">
      <a href=<%= submission.url %>> <%= submission.title %> </a>
      <span class="subtext">
        (<a href=<%="from?site=#{submission.site}"%> ><span class="subtext"><%= submission.site %></span></a>)
      </span>
    </span>
    <div class="subtext">
      <span class="score">1 point</span>
      by <%= link_to submission.user.username, user_path(submission.user) %>
      <span class="age"><a href="/item?id=28157165">1 hour ago</a></span>
      | <a href="/hide?id=28157165&goto=news">hide</a>
      | <%= link_to "1 comment", submission%>
    </div>
  </div>
</div>