<%= render @submission %>

<%= form_with url: submission_comments_path(@submission), data: { turbo: false } do |f| %>
  <div class="field">
    <%= f.text_area :body, autofocus: true, autocomplete: "text" %>
  </div>

  <div class="actions">
    <%= f.submit "add comment" %>
  </div>
<% end %>

<%= render @submission.comments %>
