<div class="item">
  <div class="rank">
    <% if local_assigns[:rank] %>
      <span> <%= local_assigns[:rank] %>. </span>
    <% end %>
    <% voted = item.voted_by?(current_user) %>
    <div class="<%= class_names("vote", hide: voted) %>" >
      <%= button_to "", item_upvote_path(item), method: :post %>
      <%= button_to "", item_downvote_path(item), method: :post %>
    </div>
  </div>
  <div class="content">
    <% if item.story? %>
      <span class="title">
        <a href=<%= item.url %>> <%= item.title %> </a>
        <span class="subtext">
          (<a href=<%="from?site=#{item.site}"%> ><span class="subtext"><%= item.site %></span></a>)
        </span>
      </span>
      <div class="subtext">
        <span class="score"> <%= pluralize(item.votes.pluck(:value).sum, "point") %> </span>
        by <%= link_to item.user.username, user_path(item.user) %>
        <span class="age"> <%= link_to time_ago_in_words(item.created_at) + " ago", item %> </span>
        | <a href="/hide?id=28157165&goto=news">hide</a>
        <% if item.voted_by?(current_user) %>
        | <%= link_to "unvote", item_unvote_path(item), data: { turbo_method: :delete } %>
        <% end %>
        | <%= link_to pluralize(item.descendant_ids.count, 'comment'), item %>
      </div>
      <% if local_assigns[:show_body] %>
        <p class="body"><%= item.body %></p>
      <% end %>
    <% end %>
    <% if item.comment? %>
      <span class="subtext">
        <%= link_to item.user.username, user_path(item.user) %>
        <span class="age"> <%= link_to time_ago_in_words(item.created_at) + " ago", item %> </span>
        | <%= link_to "parent", item_path(item.parent_id) %>
        | <%= link_to "context", item_path(item.root_id) + "##{item.parent_id}" %>
        | on <%= link_to item.root.title, item_path(item.root_id) %>
      </span>
      <p class="body"><%= item.body %></p>
    <% end %>
  </div>
</div>
