<%= render @item, show_body: true %>

<div class="item">
  <div style="width: 14px;"></div>
  <%= form_with model: Item, url: item_comment_path(@item), method: :post do |f| %>
    <div class="field">
      <%= f.text_area :body, autofocus: true, autocomplete: "text", required: true %>
    </div>

    <div class="actions">
      <%= f.submit "add comment" %>
    </div>
  <% end %>
</div>

<%= render partial: "comment", collection: @item.children %>
