<!DOCTYPE html>
<html>
  <head>
    <title>Hacker News</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag asset_path('y18.gif') %>
  </head>

<body>
  <div class="container">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="navbar">
      <div class="logo-container">
        <a href="/"> 
        <%= image_tag("y18.gif", class: "logo", alt: "Hackers News")%>
        </a>
      </div>
      <div class="navlinks">
        <b><a href="/news">Hacker News</a></b>
        <a href="/newest">new</a> | 
        <a href="/threads">past</a> | 
        <a href="/comments">comments</a> |
        <a href="/ask">ask</a> | 
        <a href="/show">show</a> | 
        <a href="/jobs">jobs</a> |
        <%= link_to "submit", new_submission_path %>
      </div>
      <div class="login">
        <% if current_user.present? %>
          <%= content_tag(:span, current_user.username) %> <%= "|" %>
          <%= link_to "logout", destroy_user_session_path, data: { "turbo-method": :delete, turbo_confirm: 'Are you sure?' } %>
        <% else %>
          <%= link_to "login", new_user_session_path %>
        <% end %>
      </div>
    </div>
    <article>
      <%= yield %>
    </article>
    </div>
  </div>
</body>
</html>
